<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bunkalogic.bunkalist">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:name=".SharedPreferences.UserApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Activities.DetailsActivities.ListFollowsActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Activities.UserProfileActivities.OtherUserProfile"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Activities.UserProfileActivities.ProfileListActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <meta-data
                android:name=".com.movies.requestApi"
                android:value="{$MOVIES_REQUEST_API}"/>
        <meta-data
                android:name=".com.movies.sesionID"
                android:value="{$MOVIES_SESION_ID}"/>

        <activity android:name=".Activities.DetailsActivities.ItemDetailsActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Activities.SettingsActivities.EditProfileActivity"
                  android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".Activities.BaseActivity"/>
        </activity>
        <activity android:name=".Activities.OtherActivities.ToolbarActivity">
        </activity>
        <activity android:name=".Activities.SettingsActivities.ModeDayOrNightActivity"
                  android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".Activities.BaseActivity"/>
        </activity>
        <activity android:name=".Activities.NewUser.NewUserActivity"
                  android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Activities.OtherActivities.MainEmptyActivity"
                android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Login.ForgotPasswordActivity">
        </activity>
        <activity android:name=".Activities.Login.SignUpActivity">
        </activity>
        <activity android:name=".Activities.Login.LoginActivity">
        </activity>
        <activity
                android:name=".Activities.BaseActivity"
                android:windowSoftInputMode="adjustPan">
        </activity>
    </application>

</manifest>